/*  People Ready branding */
body {
	
	padding:0;
	margin:0;
}
      html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto 0px;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 60px;
	  }
	  #footer {

		background-color: #fff;
		border-top:4px solid #E77C22;
		color:#04AFEF;
      }
    

	.navbar,
	.navbar-default,
	.navbar-inverse,
	.navbar-fixed-top {
		background-color:#fff;
		border-bottom:4px solid #E77C22;
		background-image:none;
      }
      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }
	  
	  div.logo{
	  	margin-top:10px;
	  	margin-left:20px;w
	  	idth:150px;
	  	position:relative;
	  	float:left; 
	  	display: inline-block;
	  }
	  .jumbotron{
 			
		height:100%;
		background:  url('../img/pinlayer2.png'),url('../img/back.png');
	
		background-repeat:repeat;
	  }
	  div.jumbotron h4{
		  color:#CCC;
	  }
#keywords {
  margin: 0 auto;
  font-size: 1.2em;
  margin-bottom: 15px;
}


#sorttable thead {
  cursor: pointer;
  background-color:#E77C22;
  color:#fff;
 

}
#sorttable thead tr th { 
 
}
#sorttable thead tr th span { 
  
}

#sorttable thead tr th.headerSortUp, #sorttable thead tr th.headerSortDown {
 
}

#sorttable thead tr th.headerSortUp span {
  
}
#sorttable thead tr th.headerSortDown span {

}
#sorttable  ul{
	list-style-type: none;
}
.odd {
   background: #ccc;
}
			/** Start: to style navigation tab **/
			.nav {
			  
			  margin-left: 0;
			  list-style: none;
			}
 
			.nav > li > a {
			  display: block;

			}

			p.muted.credit{
					color:#888;
			}
			a{
				color:#E77C22;
				font-variant: bold;
			}
			a:hover{
				color:#000000;
			}
			.nav > li > a:active,
			.nav > li.active,
			.nav > li:hover,
			.nav > .active > a:hover {
				background-image:none;
			  background-color:#E77C22;
			  
			}
			.nav > li > a:hover {
			  background-color:#E77C22;
			  
			}
 			ul.dropdown-menu > li.active > a
 			{
 				background-color:#E77C22;
 				background-image:none;
 			}
			.nav-tabs{
			  *zoom: 1;
			}
 
			.nav-tabs:before,
			.nav-tabs:after {
			  display: table;
			  content: "";
			}
 
			.nav-tabs:after {
			  clear: both;
			}
 
			.nav-tabs > li {
			  float: left;
			}
 
			.nav-tabs > li > a {
			  padding-right: 12px;
			  padding-left: 12px;
			  margin-right: 2px;
			  line-height: 14px;
			}
 
			.nav-tabs {
			  border-bottom: 1px solid #ddd;
			}
 
			.nav-tabs > li {
			  margin-bottom: -1px;
			}
 
			.nav-tabs > li > a {
			  padding-top: 8px;
			  padding-bottom: 8px;
			  line-height: 18px;
			  border: 1px solid transparent;
			  -webkit-border-radius: 4px 4px 0 0;
				 -moz-border-radius: 4px 4px 0 0;
					  border-radius: 4px 4px 0 0;
			}
 
			.nav-tabs > li > a:hover {
			  border-color: #eeeeee #eeeeee #dddddd;
			  background-color:#E77C22;
			  color:#000;
			}
 
			.nav-tabs > .active > a,
			.nav-tabs > .active > a:hover {
			  color: #555555;
			  cursor: default;
			  background-color: ##E77C22;
			  border: 1px solid #ddd;
			  border-bottom-color: transparent;
			}
 
			li {
			  line-height: 18px;
			}
 
			.tab-content.active{
				display: block;
			}
 
			.tab-content.hide{
				display: none;
			}
.navbar-inverse .navbar-nav>li>a {
	color:#000000;
}
.divlink {

  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;

  /* edit: added z-index */
  z-index: 1;

  /* edit: fixes overlap error in IE7/8, 
     make sure you have an empty gif */
  background-image: url('empty.gif');
} 

.chart-legend ul {
    list-style: none;
    width: 100%;
    margin: 30px auto 0;
}
.chart-legend li {
    text-indent: 16px;
    line-height: 24px;
    position: relative;
    font-weight: 200;
    display: block;
    float: left;
    width: 50%;
    font-size: 0.8em;
}
.chart-legend  li:before {
    display: block;
    width: 10px;
    height: 16px;
    position: absolute;
    left: 0;
    top: 3px;
    content: "";
}
.lastlogin:before { background-color: #637b85; }
.cumulative:before { background-color: #2c9c69; }
.filtered {
	color:red;
	font-weight:bold;
}

.complete{
    display:none;
}

.more{
    background:lightblue;
    color:navy;
    font-size:13px;
    padding:3px;
    cursor:pointer;
}